
dl.defList
{
	clear:both;
	overflow:auto;
	padding:0.5em 0;

  dd
  {
    margin: 0;
    padding: 2px 0;
    text-align: left;
    width: 80%;
    float:none;
  }

  dt
  {
    clear: both;
    color: #888888;
    float: left;
    margin: 0;
    padding: 2px 1em 2px 0;
    text-align: right;
    width: 20%;
  }
}

.page_links
{
  margin-left:8em;
  margin-right:8em;
  text-align:center;

  span.current
  {
  background:#7E2217;
  border:1px solid #FFF;
  color:#FFF;
  font-weight:700;
  }
}

