<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30823706-1']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

</script>
<h2>Welcome to the ACL Anthology</h2>

ACL Anthology currently hosts over 19,200 papers on the study of computational linguistics. Subscribe to the mailing list to receive announcements and updates to the Anthology. 

<h3>Recent News:</h3><h3>
<ul>
<li><a href="?f%5Bvenue%5D%5B%5D=cl&amp;f%5Byear%5D%5B%5D=2011">The June issue of the Computational Linguistics journal</a>, is now available.</li>
<li><a href="?f%5Bvenue%5D%5B%5D=acl&amp;f%5Byear%5D%5B%5D=2010">Proceedings of the 48th Annual Meeting of the Association for Computational Linguistics,</a> is now available</li>
</ul>
</h3>

<hr>
<table class="home_page">

<tr >
  <th class="alt"> <u> Popular Papers this week</u></th>
  <th class="alt"> <u> Popular Authors this week </u></th>
</tr>
<ul class="home_page">
<% t_papers = get_trend_papers
   t_authors = get_trend_authors
 for i in 0..t_papers.length-1 do %>

  <tr class="alt1">
    <td class="paper"> <li><%= (link_to get_paper_title(t_papers[i]),catalog_path(:id=>t_papers[i]))%></li> </td>
    <td class="author"><li> <%= (link_to t_authors[i],people_path(:author=>t_authors[i]))%></li> </td>
</tr>
<% end%>
</ul>
</table>
<hr>
<h3>ACL Events</h3>
<table>
    <tr>
      <th title="Computational Linguistics Journal">Journal:</th>
      <td> <a href="http://www.aclweb.org/anthology/docs/cl.html"><b>Intro</b></a>
        <a title="The Finite String Newsletter"
          href="http://www.aclweb.org/anthology/docs/fs.html"><b>FS</b></a> <a
          title="Machine Translation and Computational Linguistics Journal, precursor to CL"
          href="http://www.aclweb.org/anthology/docs/mtcl.html"><b>MT&amp;CL</b></a>
        <a href="http://www.aclweb.org/anthology/J/J79/">74-79</a> <a
          href="?f[venue][]=cl&f[year][]=1980">80</a> <a
          href="?f[venue][]=cl&f[year][]=1981">81</a> <a
          href="?f[venue][]=cl&f[year][]=1982">82</a> <a
          href="?f[venue][]=cl&f[year][]=1983">83</a> <a
          href="?f[venue][]=cl&f[year][]=1984">84</a> <a
          href="?f[venue][]=cl&f[year][]=1985">85</a> <a
          href="?f[venue][]=cl&f[year][]=1986">86</a> <a
          href="?f[venue][]=cl&f[year][]=1987">87</a> <a
          href="?f[venue][]=cl&f[year][]=1988">88</a> <a
          href="?f[venue][]=cl&f[year][]=1989">89</a> <a
          href="?f[venue][]=cl&f[year][]=1990">90</a> <a
          href="?f[venue][]=cl&f[year][]=1991">91</a> <a
          href="?f[venue][]=cl&f[year][]=1992">92</a> <a
          href="?f[venue][]=cl&f[year][]=1993">93</a> <a
          href="?f[venue][]=cl&f[year][]=1994">94</a> <a
          href="?f[venue][]=cl&f[year][]=1995">95</a> <a
          href="?f[venue][]=cl&f[year][]=1996">96</a> <a
          href="?f[venue][]=cl&f[year][]=1997">97</a> <a
          href="?f[venue][]=cl&f[year][]=1998">98</a> <a
          href="?f[venue][]=cl&f[year][]=1999">99</a> <a
          href="?f[venue][]=cl&f[year][]=2000">00</a> <a
          href="?f[venue][]=cl&f[year][]=2001">01</a> <a
          href="?f[venue][]=cl&f[year][]=2002">02</a> <a
          href="?f[venue][]=cl&f[year][]=2003">03</a> <a
          href="?f[venue][]=cl&f[year][]=2004">04</a> <a
          href="?f[venue][]=cl&f[year][]=2005">05</a> <a
          href="?f[venue][]=cl&f[year][]=2006">06</a> <a
          href="?f[venue][]=cl&f[year][]=2007">07</a> <a
          href="?f[venue][]=cl&f[year][]=2008">08</a> <a
          href="?f[venue][]=cl&f[year][]=2009">09</a> <a
          href="?f[venue][]=cl&f[year][]=2010">10</a> <a
          href="?f[venue][]=cl&f[year][]=2011">11</a> <%=image_tag 'new.gif' %><a
        href="?f[venue][]=cl&f[year][]=2012">12</a> </td>
    </tr>
    <tr>
      <th title="ACL Annual Meeting">ACL:</th>
      <td> <a href="http://www.aclweb.org/anthology/docs/acl.html"><b>Intro</b></a>
        <a href="?f[venue][]=acl&f[year][]=1979">79</a> <a
          href="?f[venue][]=acl&f[year][]=1980">80</a> <a
          href="?f[venue][]=acl&f[year][]=1981">81</a> <a
          href="?f[venue][]=acl&f[year][]=1982">82</a> <a
          href="?f[venue][]=acl&f[year][]=1983">83</a> <a
          href="?f[venue][]=acl&f[year][]=1984">84</a><sup>*</sup> <a
          href="?f[venue][]=acl&f[year][]=1985">85</a> <a
          href="?f[venue][]=acl&f[year][]=1986">86</a> <a
          href="?f[venue][]=acl&f[year][]=1987">87</a> <a
          href="?f[venue][]=acl&f[year][]=1988">88</a> <a
          href="?f[venue][]=acl&f[year][]=1989">89</a> <a
          href="?f[venue][]=acl&f[year][]=1990">90</a> <a
          href="?f[venue][]=acl&f[year][]=1991">91</a> <a
          href="?f[venue][]=acl&f[year][]=1992">92</a> <a
          href="?f[venue][]=acl&f[year][]=1993">93</a> <a
          href="?f[venue][]=acl&f[year][]=1994">94</a> <a
          href="?f[venue][]=acl&f[year][]=1995">95</a> <a
          href="?f[venue][]=acl&f[year][]=1996">96</a> <a
          href="?f[venue][]=acl&f[year][]=1997">97</a><sup>*</sup> <a
          href="?f[venue][]=acl&f[year][]=1998">98</a><sup>*</sup> <a
          href="?f[venue][]=acl&f[year][]=1999">99</a> <a
          href="?f[venue][]=acl&f[year][]=2000">00</a> <a
          href="?f[venue][]=acl&f[year][]=2001">01</a> <a
          href="?f[venue][]=acl&f[year][]=2002">02</a> <a
          href="?f[venue][]=acl&f[year][]=2003">03</a> <a
          href="?f[venue][]=acl&f[year][]=2004">04</a> <a
          href="?f[venue][]=acl&f[year][]=2005">05</a> <a
          href="?f[venue][]=acl&f[year][]=2006">06</a><sup>*</sup> <a
          href="?f[venue][]=acl&f[year][]=2007">07</a> <a
          href="?f[venue][]=acl&f[year][]=2008">08</a><sup>*</sup> <a
          href="?f[venue][]=acl&f[year][]=2009">09</a><sup>*</sup> <a
          href="?f[venue][]=acl&f[year][]=2010">10</a> <a
          href="?f[venue][]=acl&f[year][]=2011">11</a> </td>
    </tr>
    <tr>
      <th title="European Chapter of ACL">EACL:</th>
      <td> <a href="http://www.aclweb.org/anthology/docs/eacl.html"><b>Intro</b></a>
        <a href="?f[venue][]=eacl&f[year][]=1983">83</a> <a
          href="?f[venue][]=eacl&f[year][]=1985">85</a> <a
          href="?f[venue][]=eacl&f[year][]=1987">87</a> <a
          href="?f[venue][]=eacl&f[year][]=1989">89</a> <a
          href="?f[venue][]=eacl&f[year][]=1991">91</a> <a
          href="?f[venue][]=eacl&f[year][]=1993">93</a> <a
          href="?f[venue][]=eacl&f[year][]=1995">95</a> <a
          href="?f[venue][]=eacl&f[year][]=1997">97</a><sup>*</sup> <a
          href="?f[venue][]=eacl&f[year][]=1999">99</a> <a
          href="?f[venue][]=eacl&f[year][]=2003">03</a> <a
          href="?f[venue][]=eacl&f[year][]=2006">06</a> <a
          href="?f[venue][]=eacl&f[year][]=2009">09</a> </td>
    </tr>
    <tr>
      <th title="North American Chapter of ACL">NAACL:</th>
      <td> <a href="http://www.aclweb.org/anthology/docs/naacl.html"><b>Intro</b></a>
        <a href="?f[venue][]=naacl&f[year][]=2000">00</a><sup>*</sup>
        <a href="?f[venue][]=naacl&f[year][]=2001">01</a> <a
          href="?f[venue][]=naacl&f[year][]=2003">03</a> <a
          href="?f[venue][]=naacl&f[year][]=2004">04</a> <a
          href="?f[venue][]=naacl&f[year][]=2006">06</a><sup>*</sup> <a
          href="?f[venue][]=naacl&f[year][]=2007">07</a><sup>*</sup> <a
          href="?f[venue][]=naacl&f[year][]=2009">09</a><sup>*</sup> <a
          href="?f[venue][]=naacl&f[year][]=2010">10</a><sup>*</sup> </td>
    </tr>
    <tr>
      <th
        title="International Workshop on Semantic Evaluation (formerly Workshop on Sense Evaluation)">SemEval:</th>
      <td> <a href="?f[venue][]=semeval&f[year][]=1998">98</a> 01 <a
          href="?f[venue][]=semeval&f[year][]=2004">04</a> <a
          href="?f[venue][]=semeval&f[year][]=2007">07</a> <a
          href="?f[venue][]=semeval&f[year][]=2010">10</a> </td>
    </tr>
    <tr>
      <th title="Applied Natural Language Processing Conference">ANLP:</th>
      <td> <a href="http://www.aclweb.org/anthology/docs/anlp.html"><b>Intro</b></a>
        <a href="?f[venue][]=anlp&f[year][]=1983">83</a> <a
          href="?f[venue][]=anlp&f[year][]=1988">88</a> <a
          href="?f[venue][]=anlp&f[year][]=1992">92</a> <a
          href="?f[venue][]=anlp&f[year][]=1994">94</a> <a
          href="?f[venue][]=anlp&f[year][]=1997">97</a> <a
          href="?f[venue][]=anlp&f[year][]=2000">00</a><sup>*</sup> </td>
    </tr>
    <tr>
      <th
        title="Conference on Empirical Methods in Natural Language Processing (and forerunners)">EMNLP:</th>
      <td> <a href="?f[venue][]=emnlp&f[year][]=2001">01</a> <a
          href="?f[venue][]=emnlp&f[year][]=2002">02</a> <a
          href="?f[venue][]=emnlp&f[year][]=2003">03</a> <a
          href="?f[venue][]=emnlp&f[year][]=2004">04</a> <a
          href="?f[venue][]=emnlp&f[year][]=2005">05</a> <a
          href="?f[venue][]=emnlp&f[year][]=2006">06</a> <a
          href="?f[venue][]=emnlp&f[year][]=2007">07</a><sup>*</sup> <a
          href="?f[venue][]=emnlp&f[year][]=2008">08</a> <a
          href="?f[venue][]=emnlp&f[year][]=2009">09</a> <a
          href="?f[venue][]=emnlp&f[year][]=2010">10</a> <a
          href="?f[venue][]=emnlp&f[year][]=2011">11</a> </td>
    </tr>
    <tr>
      <th title="Complete workshop listing, sorted by year">Workshops:</th>
      <td> <a href="?f[venue][]=workshops&f[year][]=1990">90</a> <a
          href="?f[venue][]=workshops&f[year][]=1991">91</a> <a
          href="?f[venue][]=workshops&f[year][]=1993">93</a> <a
          href="?f[venue][]=workshops&f[year][]=1994">94</a> <a
          href="?f[venue][]=workshops&f[year][]=1995">95</a> <a
          href="?f[venue][]=workshops&f[year][]=1996">96</a> <a
          href="?f[venue][]=workshops&f[year][]=1997">97</a> <a
          href="?f[venue][]=workshops&f[year][]=1998">98</a> <a
          href="?f[venue][]=workshops&f[year][]=1999">99</a> <a
          href="?f[venue][]=workshops&f[year][]=2000">00</a> <a
          href="?f[venue][]=workshops&f[year][]=2001">01</a> <a
          href="?f[venue][]=workshops&f[year][]=2002">02</a> <a
          href="?f[venue][]=workshops&f[year][]=2003">03</a> <a
          href="?f[venue][]=workshops&f[year][]=2004">04</a> <a
          href="?f[venue][]=workshops&f[year][]=2005">05</a> <a
          href="?f[venue][]=workshops&f[year][]=2006">06</a> <a
          href="?f[venue][]=workshops&f[year][]=2007">07</a> <a
          href="?f[venue][]=workshops&f[year][]=2008">08</a> <a
          href="?f[venue][]=workshops&f[year][]=2009">09</a> <a
          href="?f[venue][]=workshops&f[year][]=2010">10</a><a
          href="?f[venue][]=workshops&f[year][]=2011">11</a> </td>
    </tr>
    <tr>
      <th title="Special Interest Group Meetings">SIGs:</th>
      <td> <a href="?f[siginfo][]=sigann"
          title="Annotation">ANN</a> <a
          href="?f[siginfo][]=sigbiomed"
          title="Biomedical NLP">BIOMED</a> <a
          href="?f[siginfo][]=sigdat"
          title="Linguistic Data and Corpus-Based Approaches to NLP">DAT</a> <a
          href="?f[siginfo][]=sigdial"
          title="Discourse and Dialogue">DIAL</a> <span
          title="Finite State Machine">FSM</span> <a
          href="?f[siginfo][]=siggen"
          title="Natural Language Generation">GEN</a> <a
          href="?f[siginfo][]=sighan"
          title="Chinese Language Processing">HAN</a> <a
          href="?f[siginfo][]=siglex" title="Lexicon">LEX</a>
        <a href="?f[siginfo][]=sigmedia"
          title="Multimedia Language Processing">MEDIA</a> <span
          title="Mathematics of Language">MOL</span> <a
          href="?f[siginfo][]=sigmt"
          title="Machine Translation">MT</a> <a
          href="?f[siginfo][]=signll"
          title="Natural Language Learning">NLL</a> <a
          href="?f[siginfo][]=sigparse"
          title="Natural Language Parsing">PARSE</a> <a
          href="?f[siginfo][]=sigmorphon"
          title="Computational Morphology and Phonology">MORPHON</a> <a
          href="?f[siginfo][]=sigsem"
          title="Computational Semantics">SEM</a> <a
          href="?f[siginfo][]=semitic"
          title="Computational Approaches to Semitic Languages">SEMITIC</a> <a
          href="?f[siginfo][]=sigwac"
          title="Web as Corpus">WAC</a> </td>
    </tr>
</table>
<hr>
<h3>Other Events</h3>
<table>
    <tr>
      <th
        title="Int'l Committee on Computational Linguistics (ICCL) Conf.">COLING:</th>
      <td colspan="5"> <a href="?f[venue][]=coling&f[year][]=1965">65</a>
        <a href="?f[venue][]=coling&f[year][]=1967">67</a> <a
          href="?f[venue][]=coling&f[year][]=1969">69</a> <a
          href="?f[venue][]=coling&f[year][]=1973">73</a> <a
          href="?f[venue][]=coling&f[year][]=1980">80</a> <a
          href="?f[venue][]=coling&f[year][]=1982">82</a> <a
          href="?f[venue][]=coling&f[year][]=1984">84</a><sup>*</sup> <a
          href="?f[venue][]=coling&f[year][]=1986">86</a> <a
          href="?f[venue][]=coling&f[year][]=1988">88</a> <a
          href="?f[venue][]=coling&f[year][]=1990">90</a> <a
          href="?f[venue][]=coling&f[year][]=1992">92</a> <a
          href="?f[venue][]=coling&f[year][]=1994">94</a> <a
          href="?f[venue][]=coling&f[year][]=1996">96</a> <a
          href="?f[venue][]=coling&f[year][]=1998">98</a><sup>*</sup> <a
          href="?f[venue][]=coling&f[year][]=2000">00</a> <a
          href="?f[venue][]=coling&f[year][]=2002">02</a> <a
          href="?f[venue][]=coling&f[year][]=2004">04</a> <a
          href="?f[venue][]=coling&f[year][]=2006">06</a><sup>*</sup> <a
          href="?f[venue][]=coling&f[year][]=2008">08</a> <a
          href="?f[venue][]=coling&f[year][]=2010">10</a> </td>
    </tr>
    <tr>
      <th title="Human Language Technology Conf.">HLT:</th>
      <td colspan="5"> <a href="?f[venue][]=hlt&f[year][]=1986">86</a>
        <a href="?f[venue][]=hlt&f[year][]=1989">89</a> <a
          href="?f[venue][]=hlt&f[year][]=1990">90</a> <a
          href="?f[venue][]=hlt&f[year][]=1991">91</a> <a
          href="?f[venue][]=hlt&f[year][]=1992">92</a> <a
          href="?f[venue][]=hlt&f[year][]=1993">93</a> <a
          href="?f[venue][]=hlt&f[year][]=1994">94</a> <a
          href="?f[venue][]=hlt&f[year][]=2001">01</a> <a
          href="?f[venue][]=hlt&f[year][]=2003">03</a><sup>*</sup><nobr>
        <a href="?f[venue][]=hlt&f[year][]=2004">04</a><sup>*</sup></nobr><nobr>
        <a href="?f[venue][]=hlt&f[year][]=2005">05</a> <a
          href="?f[venue][]=hlt&f[year][]=2006">06</a><sup>*</sup> <a
          href="?f[venue][]=hlt&f[year][]=2007">07</a><sup>*</sup> <a
          href="?f[venue][]=hlt&f[year][]=2008">08</a><sup>*</sup> <a
          href="?f[venue][]=hlt&f[year][]=2009">09</a><sup>*</sup> <a
          href="?f[venue][]=hlt&f[year][]=2010">10</a><sup>*</sup> </nobr></td>
    </tr>
    <tr>
      <th
        title="Int'l Joint Conf. on Natural Language Processing (and workshops)">IJCNLP:</th>
      <td> <a href="?f[venue][]=ijcnlp&f[year][]=2005">05</a> <a
          href="?f[venue][]=ijcnlp&f[year][]=2008">08</a> <a
          href="?f[venue][]=ijcnlp&f[year][]=2009">09</a><sup>*</sup><a
          href="?f[venue][]=ijcnlp&f[year][]=2011">11</a> </td>
      <th title="Australasian Language Technology Association Workshop">ALTA</th>
      <td> <a href="http://www.aclweb.org/anthology/docs/alta.html"><b>Intro</b></a>
        <a href="?f[venue][]=alta&f[year][]=2003">03</a> <a
          href="?f[venue][]=alta&f[year][]=2004">04</a> <a
          href="?f[venue][]=alta&f[year][]=2005">05</a> <a
          href="?f[venue][]=alta&f[year][]=2006">06</a> <a
          href="?f[venue][]=alta&f[year][]=2007">07</a> <a
          href="?f[venue][]=alta&f[year][]=2008">08</a> <a
          href="?f[venue][]=alta&f[year][]=2009">09</a> <a
          href="?f[venue][]=alta&f[year][]=2010">10</a> </td>
    </tr>
    <tr>
      <th
        title="International Conference on Language Resources and Evaluation">LREC:</th>
      <td> <a href="?f[venue][]=lrec&f[year][]=2008">08</a><!-- <img alt="new" src="images/new.gif"><a href="L/L10/">10</a> -->
          <a href="?f[venue][]=lrec&f[year][]=2010">10</a>
      </td>
      <th
        title="International Conference Recent Advances in Natural Language Processing">RANLP</th>
      <td> <a href="?f[venue][]=ranlp&f[year][]=2009">09</a> </td>
    </tr>
    <tr>
      <th
        title="Pacific Asia Conference on Language, Information and Computation">PACLIC</th>
      <td> <a href="?f[venue][]=paclic&f[year][]=1995">95</a> <a
          href="?f[venue][]=paclic&f[year][]=1996">96</a> <a
          href="?f[venue][]=paclic&f[year][]=1998">98</a> <a
          href="?f[venue][]=paclic&f[year][]=1999">99</a> <a
          href="?f[venue][]=paclic&f[year][]=2000">00</a> <a
          href="?f[venue][]=paclic&f[year][]=2001">01</a> <a
          href="?f[venue][]=paclic&f[year][]=2002">02</a> <a
          href="?f[venue][]=paclic&f[year][]=2003">03</a> <a
          href="?f[venue][]=paclic&f[year][]=2004">04</a> <a
          href="?f[venue][]=paclic&f[year][]=2005">05</a> <a
          href="?f[venue][]=paclic&f[year][]=2006">06</a> <a
          href="?f[venue][]=paclic&f[year][]=2007">07</a> </td>
    </tr>
    <tr>
      <th title="Rocling Computation Linguistics Conference and Journal">Rocling</th>
      <td> <a href="http://www.aclweb.org/anthology/docs/rocling.html"><b>Intro</b></a>
        <a href="?f[venue][]=rocling&f[year][]=1988">88</a> <a
          href="?f[venue][]=rocling&f[year][]=1989">89</a> <a
          href="?f[venue][]=rocling&f[year][]=1990">90</a> <a
          href="?f[venue][]=rocling&f[year][]=1991">91</a> <a
          href="?f[venue][]=rocling&f[year][]=1992">92</a> <a
          href="?f[venue][]=rocling&f[year][]=1993">93</a> <a
          href="?f[venue][]=rocling&f[year][]=1994">94</a> <a
          href="?f[venue][]=rocling&f[year][]=1995">95</a> <a
          href="?f[venue][]=rocling&f[year][]=1996">96</a> <a
          href="?f[venue][]=rocling&f[year][]=1997">97</a> <a
          href="?f[venue][]=rocling&f[year][]=1998">98</a> <a
          href="?f[venue][]=rocling&f[year][]=1999">99</a> <a
          href="?f[venue][]=rocling&f[year][]=2000">00</a> <a
          href="?f[venue][]=rocling&f[year][]=2001">01</a> <a
          href="?f[venue][]=rocling&f[year][]=2002">02</a> <a
          href="?f[venue][]=rocling&f[year][]=2003">03</a> <a
          href="?f[venue][]=rocling&f[year][]=2004">04</a> <a
          href="?f[venue][]=rocling&f[year][]=2005">05</a> <a
          href="?f[venue][]=rocling&f[year][]=2006">06</a> <a
          href="?f[venue][]=rocling&f[year][]=2007">07</a> <a
          href="?f[venue][]=rocling&f[year][]=2008">08</a> <a
          href="?f[venue][]=rocling&f[year][]=2009">09</a> <a
          href="?f[venue][]=rocling&f[year][]=2010">10</a> </td>
      <th title="Message Understanding Conf.">MUC:</th>
      <td> <a href="?f[venue][]=muc&f[year][]=1991">91</a> <a
          href="?f[venue][]=muc&f[year][]=1992">92</a> <a
          href="?f[venue][]=muc&f[year][]=1993">93</a> <a
          href="?f[venue][]=muc&f[year][]=1995">95</a> <a
          href="?f[venue][]=muc&f[year][]=1998">98</a> </td>
    </tr>
    <tr>
      <th title="Theoretical Issues In Natural Language Processing">TINLAP:</th>
      <td> <a href="?f[venue][]=tinlap&f[year][]=1975">75</a> <a
          href="?f[venue][]=tinlap&f[year][]=1978">78</a> <a
          href="?f[venue][]=tinlap&f[year][]=1987">87</a> </td>
      <th title="NIST's TIPSTER Text Program">Tipster:</th>
      <td><a href="?f[venue][]=tipster&f[year][]=1993">93</a> <a
          href="?f[venue][]=tipster&f[year][]=1996">96</a> <a
          href="?f[venue][]=tipster&f[year][]=1998">98</a> </td>
    </tr>
    <tr>
      <!--
      <th title="Anthology work-in-progress">In progress:</th>
      <td>W05-11</td>
      -->
      <th onmouseover="tooltip('Missing articles -- please help!')"
        onmouseout="exit()">Donors Needed:</th>
      <td><a href="?f[venue][]=coling&f[year][]=1965">COLING-65</a>,
        any missing COLING </td>
      <th>In&nbsp;Progress:</th>
      <td>Finite String, SensEval 2001</td>
    </tr>
</table>
<p>*: denotes a joint meeting</p>

