.search .advanced_search {
        background-color: #EEEEEE;
              font-size: 85%;
                    left: 10px;
                          position: relative;
                                top: 7px;
}

